[meta]
config.version = 17

[node]
root.dir = /var/lib/jenkins/.rally/benchmarks
src.root.dir = /var/lib/jenkins/.rally/benchmarks/src

[system]
env.name = {{rally_environment}}

[source]
remote.repo.url = https://github.com/elastic/elasticsearch.git
elasticsearch.src.subdir = elasticsearch

[benchmarks]
local.dataset.cache = /var/lib/jenkins/.rally/benchmarks/data

[reporting]
datastore.type = elasticsearch
datastore.host = cd7752c6d66e403fb5a0498e2a80355a.eu-central-1.aws.cloud.es.io
datastore.port = 9243
datastore.secure = True
datastore.user = elastic
datastore.password = HksIudmxarBisPguzpmWfrtu

[tracks]
default.url = https://github.com/elastic/rally-tracks

[defaults]
preserve_benchmark_candidate = False

[teams]
default.url = https://github.com/elastic/rally-teams

[distributions]
# {# Don't try to replace VERSION - see http://jinja.pocoo.org/docs/2.10/templates/#escaping #}
# {% raw %}
release.cache = true

# only support master snapshots
snapshot.url=https://snapshots.elastic.co/downloads/elasticsearch/elasticsearch-{{VERSION}}.tar.gz
snapshot.cache=false

plugin.x-pack.snapshot.url=https://snapshots.elastic.co/downloads/elasticsearch-plugins/x-pack/x-pack-{{VERSION}}.zip
plugins.default.x-pack.snapshot.cache=false
# {% endraw %}
