[meta]
config.version = 17

[node]
root.dir = {{rally_homedir}}/.rally/benchmarks
src.root.dir = {{rally_homedir}}/.rally/benchmarks/src

[system]
env.name = {{rally_environment}}

[source]
remote.repo.url = https://github.com/elastic/elasticsearch.git
elasticsearch.src.subdir = elasticsearch

[benchmarks]
local.dataset.cache = {{rally_homedir}}/.rally/benchmarks/data

{% set metrics_store = lookup('vault', lookup('env', 'RALLY_METRICS_STORE_CREDENTIAL_PATH')) %}
[reporting]
datastore.type = elasticsearch
datastore.host = {{ metrics_store['es_host'] }}
datastore.port = {{ metrics_store['es_port'] }}
datastore.secure = {{ metrics_store['es_secure'] }}
datastore.user = {{ metrics_store['es_username'] }}
datastore.password = {{ metrics_store['es_password'] }}

[tracks]
default.url = https://github.com/elastic/rally-tracks

[defaults]
preserve_benchmark_candidate = False

[teams]
default.url = https://github.com/elastic/rally-teams
eventdata.url = https://github.com/elastic/rally-eventdata-track.git

[distributions]
# {# Don't try to replace VERSION - see http://jinja.pocoo.org/docs/2.10/templates/#escaping #}
# {% raw %}
release.cache = true

# only support master snapshots
snapshot.url=https://snapshots.elastic.co/downloads/elasticsearch/elasticsearch-{{VERSION}}.tar.gz
snapshot.cache=false

plugin.x-pack.snapshot.url=https://snapshots.elastic.co/downloads/elasticsearch-plugins/x-pack/x-pack-{{VERSION}}.zip
plugins.default.x-pack.snapshot.cache=false
# {% endraw %}
